.Mike-Lens {
    height: 15vh;
    margin-top: 5vh;
    margin-left: 15vh;
}

.Form {
    margin-bottom: 10vh;
    margin-left: 15vh;
    justify-content: center;
}


.Text-Field {
    margin-bottom: 30vh;
}