.Card-Container {
    background-color: rgb(26, 26, 26);
    width: 25em;
    margin: 2em;
    box-shadow: 0, 2px, 20px, red;
    flex-direction: column;
    overflow: hidden;
}

.Card-Container:hover {
    transform: scale(1.1);
    transition-duration: 1.2s;
}

.Image-Container img{
    overflow: hidden;
    justify-content: center;
    align-content: center;
    width: 25rem;
    height: 39rem;
}

.Service-Title {
    font-weight: bold;
    font-family: Georgia;
    margin: 1rem;
    color: whitesmoke;
}

.Paragraph {
    margin: 1rem;
    font-family: serif;
    color: whitesmoke;
}

.Card-Content {
    margin: 1rem;;
    padding: 1rem;
}