

.OutDoor, .Indoor-Section, .Central-Section, .Botanical-Garden {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.OutDoor-Image, .Indoor-Image, .Central-Image, .Botanical-Image {
    width: 1000px;
    height: 600px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.outdoors, .botanical {
    opacity: 0;
    transition-duration: 1s;
}

.outdoors-active, .botanical-active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

