

.OutDoor, .Indoor-Section, .Central-Section, .Botanical-Garden {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.OutDoor-Image, .Indoor-Image, .Central-Image {
    width: 1000px;
    height: 600px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.Botanical-Image {
    width: 950px;
    height: 600px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.outdoors, .botanical {
    opacity: 0;
    transition-duration: 1s;
}

.outdoors-active, .botanical-active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

h3 {
    justify-content: center;
    margin-right: 7vh;
    color:whitesmoke;
    font-weight: bold;
    font-family: Georgia;
}

.Welcome {
    font-family: serif;
    margin-left: 30vh;
    margin-right: 30vh;
}
